<h1>Ajout commentaire</h1>


<%= form_for @comment, url: {action: "create"} do |f| %>
<div class="form-group">
  <label>Ton nom anonyme:</label>
  <%= f.text_field :anonymous_commentor, class: 'form-control', placeholder: 'ton pseudo' %>
</div>
<div class="form-group">
  <label>Contenu du commentaire: </label>
    <%= f.text_field :content, class: 'form-control', placeholder: 'ton commentaire' %>
  </div>
 <%= f.submit  %>
 <% end -%>


