<h1>Voici les Gossips</h1>

<div class='container'>
  <p>  title : <%= @gossip.title %>  </p>
  <p>  content : <%= @gossip.content %>  </p>
  <p>  author : <%= @gossip.anonymous_gossiper %>  </p>
</div>
